@import url("https://fonts.googleapis.com/css2?family=Jersey+15&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap");

* {
  font-family: "Montserrat", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100vh;
  color: black;
  background: linear-gradient(to top, #232526, #414345);
  padding: 3rem;
}

.app {
  display: flex;
  flex-direction: column;
}

.title {
  padding-bottom: 30px;
  font-family: "Jersey 15", serif;
  font-size: 64px;
  text-align: center;
  text-shadow: -5px 5px 2px #515254;
}

.fields {
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}

.form {
  display: flex;
  flex-direction: column;
}

.text {
  padding-bottom: 30px;
}

.subtitle {
  font-size: 20px;
  font-family: "Oswald", serif;
  text-align: center;
  padding-bottom: 10px;
}

.name {
  font-family: "Oswald", serif;
  font-size: 24px;
  text-decoration: underline;
}

.input {
  padding: 10px;
  height: 32px;
  margin-bottom: 20px;
  border: 2px ridge rgb(158, 156, 156);
  font-size: 18px;
  font-weight: 500;
}

.img {
  background-color: white;
  width: 150px;
  height: 150px;
}

.annoucement {
  font-size: 42px;
  font-weight: 500;
  font-family: "Oswald", serif;
  padding: 20px 0 20px 0;
  text-align: center;
}

.score {
  font-size: 24px;
}

.btn-play {
  font-size: 30px;
  margin: 0 auto;
  width: 30%;
  height: 100%;
}

.btn-next {
  margin: 0 auto;
  width: auto;
  height: auto;
}

.btn-reset {
  margin: 0 auto;
  font-weight: 700;
  width: 120px;
  height: 100%;
}

button {
  font-size: 20px;
  font-weight: 500;
  background-color: gray;
  border: 8px ridge rgb(158, 156, 156);
  box-shadow: 0px 0px 12px 12px rgba(105, 2, 2, 0.3);
  cursor: pointer;
}

button:hover {
  transform: translateY(-5%);
  transition: all 0.2s;
}

button:active {
  transform: scale(90%);
  transition: all 0.2s;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
  text-align: center;
  font-size: 28px;
  font-family: "Oswald", serif;
}

h1 {
  font-family: "Jersey 15", serif;
  font-weight: 700;
  font-size: 82px;
  text-align: center;
  text-shadow: -5px 5px 2px #515254;
}

.app-start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-start {
  margin-top: 75px;
  font-size: 24px;
  width: 250px;
  height: 80px;
}

.symbol {
  font-size: 42px;
  font-weight: 500;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.winner-announce {
  font-size: 24px;
  font-family: "Jersey 15", serif;
  font-size: 64px;
  text-align: center;
  text-shadow: -5px 5px 2px #515254;
  position: fixed;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  padding: 3rem 6rem 4rem 6rem;
}

.overlay {
  z-index: 20;
  position: fixed;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(58, 58, 58, 0.334);
}
